<header class="navbar navbar-inverse navbar-fixed-top">
  <!-- Left Header Navigation -->
  <ul class="nav navbar-nav-custom">
    <!-- Main Sidebar Toggle Button -->
    <!-- <li>
          <a  onclick="App.sidebar('toggle-sidebar');this.blur();">
              <i class="fa fa-ellipsis-v fa-fw animation-fadeInRight" id="sidebar-toggle-mini"></i>
              <i class="fa fa-bars fa-fw animation-fadeInRight" id="sidebar-toggle-full"></i>
          </a>
      </li> -->
    <!-- END Main Sidebar Toggle Button -->

    <!-- Header Link -->
    <li class="hidden-xs animation-fadeInQuick" routerLink="/home/content">

      <img class="sidelogo" src="../../../assets/img/tvm-header-logo.png">
    </li>
    <li class="dropdown" #menu (click)="openMenu()" style="    margin-left: 15px;">
      <a  class="dropdown-toggle" data-toggle="dropdown">
        <!-- <img src="img/placeholders/avatars/avatar9.jpg" alt="avatar"> -->
        <i class="gi gi-justify"></i>
        Menu

      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li class="dropdown-header">
          <strong>Choose Menu</strong>
        </li>

        <li>
          <a routerLink="/home/shows" >
            <!-- <i class="fas fa-photo-video  pull-right"></i> -->
            <i class="fa fa-television pull-right"></i>
            <!-- <i class="fa fa-pencil-square fa-fw pull-right"></i> -->
            Shows
          </a>
        </li>
        <li>
            <a routerLink="/contact-us" >
                <i class="gi gi-envelope pull-right"></i>
              Contact Us
            </a>
          </li>

      </ul>
    </li>


    <!-- END Header Link -->
  </ul>
  <!-- END Left Header Navigation -->

  <!-- Right Header Navigation -->
  <ul class="nav navbar-nav-custom pull-right">
    <!-- Search Form -->

    <!-- END Search Form -->

    <!-- Alternative Sidebar Toggle Button -->

    <!-- END Alternative Sidebar Toggle Button -->
    <li class="dropdown">
      <a routerLink="/login" class="dropdown-toggle" *ngIf="user" data-toggle="dropdown" aria-expanded="false">
        <i class="gi gi-user"></i>
        Welcome {{user.name | uppercase}}
      </a>

    </li>


    <li class="dropdown">
      <a routerLink="/login" class="dropdown-toggle" *ngIf="!user" data-toggle="dropdown" aria-expanded="false">
        <i class="hi hi-log_out"></i>
        Login
      </a>

    </li>
    <li class="dropdown">

      <a (click)="logOut()" *ngIf="user" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <i class="hi hi-log_out"></i> Logout
      </a>

    </li>
    <!-- User Dropdown -->


    <!-- END User Dropdown -->
  </ul>
  <!-- END Right Header Navigation -->
</header>
<ngx-loading [show]="loading"></ngx-loading>
