<div id="login-container">
    <!-- Login Header -->
    <h1 class="h2 text-light text-center push-top-bottom animation-slideDown">
        <img src="../../../assets/img/tvm-header-logo.png"> <strong>Welcome to App</strong>
    </h1>
    <!-- END Login Header -->

    <!-- Login Block -->
    <div class="block animation-fadeInQuickInv">
        <!-- Login Title -->
        <div class="block-title">
            <div class="block-options pull-right">
                <!-- <a href="page_ready_reminder.html" class="btn btn-effect-ripple btn-primary" data-toggle="tooltip" data-placement="left" title="" style="overflow: hidden; position: relative;" data-original-title="Forgot your password?"><i class="fa fa-exclamation-circle"></i></a> -->
                <!-- <a href="page_ready_register.html" class="btn btn-effect-ripple btn-primary" data-toggle="tooltip" data-placement="left" title="" style="overflow: hidden; position: relative;" data-original-title="Create new account"><i class="fa fa-plus"></i></a> -->
            </div>
            <h2>Please Login</h2>
        </div>
        <!-- END Login Title -->

        <!-- Login Form -->
        <form id="form-login" action="index.html" method="post" class="form-horizontal" novalidate="novalidate">
            <div class="form-group">
                <div class="col-xs-12">
                    <input type="text" [(ngModel)]="email" id="login-email" name="login-email" class="form-control" placeholder="Your email..">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <input type="password" [(ngModel)]="password" id="login-password" name="login-password" class="form-control" placeholder="Your password..">
                </div>
            </div>
            <div class="form-group form-actions">
                <div class="col-xs-8">
<p> Don't have account ? </p> <a routerLink="/signup">SignUp</a>
                </div>
                <div class="col-xs-4 text-right">
                    <button type="submit" (click)="login()" class="btn btn-effect-ripple btn-sm btn-primary" style="overflow: hidden; position: relative;"><i class="fa fa-check"></i> Let's Go</button>
                </div>
            </div>
        </form>
        <!-- END Login Form -->
    </div>
    <!-- END Login Block -->

    <!-- Footer -->
    <footer class="text-muted text-center animation-pullUp">
        <small><span id="year-copy">2019</span> © <a >TVMaze</a></small>
    </footer>
    <!-- END Footer -->
</div>

<ngx-loading [show]="loading" ></ngx-loading>
