.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-bottom: 0px;
  line-height:0;
  width: 100%;
  background-color: rgb(73, 116, 122);
  color: white;
  text-align: center;
}
.footerText{
  margin-bottom: 7px;
}
